{% extends "base.html" %} {% block title %}IPR{% endblock %} {% block content
%}
<h1 style="padding-top:15px;padding-bottom:5px;">Progress Report</h1>
<div style="padding-left:5px">
  <table class="table table-responsive w-auto small">
      <thead>
        <tr>
          {% for element in content['headers'] %}
            <th scope="col">{{element}}</th>
          {% endfor %}
        </tr>
      </thead>
  {% for row in range( content['data']|length )%}
      <tbody>
        <tr>
          {% for element in range( content['data'][row]|length ) %}
            {% if (content['data'][row][element]|int >= 90) and (element == 5) %}
            <td class="bg-success">{{content['data'][row][element]}}</td>
            {% elif (content['data'][row][element]|int >= 80) and (element == 5) %}
            <td class="bg-warning">{{content['data'][row][element]}}</td>
            {% elif (content['data'][row][element]|int <= 79) and (element == 5) %}
            <td class="bg-danger">{{content['data'][row][element]}}</td>
            {% else %}
            <td>{{content['data'][row][element]}}</td>
            {% endif %}
          {%endfor%}
        </tr>
      </tbody>
  {%endfor%}
  </table>
</div>
{% endblock %}
